.hide, .grade-a-hide, .js .js-hide {
    display: none;
    visibility: hidden
}

.show, .js .js-show {
    display: block;
    visibility: visible
}

.show-inline, .js .js-show-inline {
    display: inline;
    visibility: visible
}

.visually-hidden, .js .js-visually-hidden {
    width: 1px;
    height: 1px;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px)
}

.hide-text, .js .js-hide-text {
    display: block;
    text-indent: -9999em;
    direction: ltr;
    overflow: hidden
}

.js-header-container2 .search-btn, .search-row-update-icon .search-btn {
    background-size: auto;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+aWNvbi1JY29uIC8gc2VhcmNoPC90aXRsZT48ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz48cGF0aCBkPSJNMTkuNDggMTguNDU1Yy4yODMuMjgzLjI5Ljc0OS4wMDcgMS4wMzItLjI3NS4yNzUtLjc0Ni4yOC0xLjAzMi0uMDA3bC0zLjA0NC0zLjA0NGMtMS4yMDQuOTc4LTIuNzM5IDEuNTY0LTQuNDEgMS41NjQtMy44NjYgMC03LTMuMTM0LTctN3MzLjEzNC03IDctNyA3IDMuMTM0IDcgN2MwIDEuNjcyLS41ODYgMy4yMDctMS41NjQgNC40MWwzLjA0NCAzLjA0NHptLTguNDgtMS40NTVjMy4zMTQgMCA2LTIuNjg2IDYtNnMtMi42ODYtNi02LTYtNiAyLjY4Ni02IDYgMi42ODYgNiA2IDZ6IiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L3N2Zz4=), none
}

.js-header-container2 .search-btn:hover, .js-header-container2 .search-btn:focus {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+aWNvbi1JY29uIC8gc2VhcmNoPC90aXRsZT48ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz48cGF0aCBkPSJNMTkuNDggMTguNDU1Yy4yODMuMjgzLjI5Ljc0OS4wMDcgMS4wMzItLjI3NS4yNzUtLjc0Ni4yOC0xLjAzMi0uMDA3bC0zLjA0NC0zLjA0NGMtMS4yMDQuOTc4LTIuNzM5IDEuNTY0LTQuNDEgMS41NjQtMy44NjYgMC03LTMuMTM0LTctN3MzLjEzNC03IDctNyA3IDMuMTM0IDcgN2MwIDEuNjcyLS41ODYgMy4yMDctMS41NjQgNC40MWwzLjA0NCAzLjA0NHptLTguNDgtMS40NTVjMy4zMTQgMCA2LTIuNjg2IDYtNnMtMi42ODYtNi02LTYtNiAyLjY4Ni02IDYgMi42ODYgNiA2IDZ6IiBmaWxsPSIjMDY5IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L3N2Zz4=), none
}

.js .js-expandable-box {
    -webkit-transition: height .5s ease;
    -moz-transition: height .5s ease;
    transition: height .5s ease
}

.js .js-expandable-box p {
    margin-bottom: 10px
}

.js .expandable-handle {
    position: relative;
    margin-top: -56px
}

.js-expanded > .expandable-handle {
    margin-top: 0
}

.js-expanded > .expandable-handle .expandable-fade {
    display: none
}

.js .expandable-fade {
    height: 56px;
    background: transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, .38)), color-stop(50%, rgba(255, 255, 255, .75)), color-stop(75%, rgba(255, 255, 255, .85)), color-stop(100%, white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .38) 25%, rgba(255, 255, 255, .75) 50%, rgba(255, 255, 255, .85) 75%, white 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .38) 25%, rgba(255, 255, 255, .75) 50%, rgba(255, 255, 255, .85) 75%, white 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .38) 25%, rgba(255, 255, 255, .75) 50%, rgba(255, 255, 255, .85) 75%, white 100%)
}

.js .tools-popup {
    width: 275px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0
}

.js .js-author-etal {
    display: none;
    visibility: hidden
}

.js .js-authors-expanded .js-author-etal {
    display: inline;
    visibility: visible
}

.mq1200-hide, .js .js-mq1200-hide {
    display: none;
    visibility: hidden
}

.mq1200-show, .js .js-mq1200-show {
    display: block;
    visibility: visible
}

.mq1200-show-inline, .js .js-mq1200-show-inline {
    display: inline;
    visibility: visible
}

.mq875-hide, .js .js-mq875-hide {
    display: none;
    visibility: hidden
}

.mq875-show, .js .js-mq875-show {
    display: block;
    visibility: visible
}

.mq875-show-inline, .js .js-mq875-show-inline {
    display: inline;
    visibility: visible
}

.mq640-hide, .js .js-mq640-hide {
    display: none;
    visibility: hidden
}

.mq640-show, .js .js-mq640-show {
    display: block;
    visibility: visible
}

.mq640-show-inline, .js .js-mq640-show-inline {
    display: inline;
    visibility: visible
}

.mq480-hide, .js .js-mq480-hide {
    display: none;
    visibility: hidden
}

.mq480-show, .js .js-mq480-show {
    display: block;
    visibility: visible
}

.mq480-show-inline, .js .js-mq480-show-inline {
    display: inline;
    visibility: visible
}

.js .js-smaller-author-etal {
    display: none;
    visibility: hidden
}

.js .js-authors-expanded .js-smaller-author-etal {
    display: inline;
    visibility: visible
}

.js-icon-toggle.icon-rotate:after, .js-icon-toggle.icon-rotate-left:before {
    -webkit-transform: rotate(180deg) translateY(50%);
    -ms-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%)
}

.js-header-container2 .js-icon-toggle.icon-rotate:after {
    -webkit-transform: rotate(180deg) translateY(45%) translateX(-20%);
    -ms-transform: rotate(180deg) translateY(45%) translateX(-20%);
    transform: rotate(180deg) translateY(45%) translateX(-20%)
}

.js .accordian-group, .js .tab-group {
    position: relative
}

.js .accordian-content, .js .tab-content {
    display: none
}

.js .active .tab-content {
    display: block;
    margin-left: -100%
}

.js .accordian, .js .tab {
    float: left;
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem
}

.js .active .tab {
    cursor: default
}

.js .accordian-btn, .js .tab-btn {
    padding: 10px;
    margin-left: 1px;
    line-height: 1.5
}

.js .tab-first .tab-btn {
    margin-left: 0
}

.js .active .tab-btn {
    padding-bottom: 11px
}

.js .tab .accordian-icon {
    padding: 0
}

.js .active .tab-single {
    border: 0;
    margin: 0;
    height: auto;
    font-size: 1.6rem;
    margin-bottom: 12px
}

.js .active .tab-single .tab-btn {
    padding: 0
}

.js .tab-single + .tab-content {
    float: left;
    margin: 0
}

.js .tab-single + .tab-content > div {
    border: 0;
    padding: 0
}

.js .active .accordian-content {
    display: block;
    width: 100%
}

.js .accordian {
    margin-bottom: 0;
    height: auto;
    width: 100%
}

.js .accordian-btn {
    margin-left: 0
}

.js .active .accordian-btn {
    cursor: default
}

.js .accordian .accordian-icon {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden
}

.js .accordian .active .accordian-icon {
    padding: 0
}

.js .tab-skin .tab-btn, .js .accordian-skin .accordian-btn {
    color: #fff;
    background: #5a5a62;
    transition: background .2s ease-in-out
}

.js .active .tab-skin .tab-btn:hover, .js .active .accordian-skin .accordian-btn:hover {
    text-decoration: none
}

.js .active .tab-skin .tab-btn {
    color: #222;
    background: #fff;
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada
}

.js .active .accordian-content {
    border-bottom: 1px solid #fff
}

.js .accordian-skin .accordian-btn {
    background: #5a5a62;
    color: #fff;
    border-bottom: 1px solid #fff
}

.js .active .accordian-skin .accordian-btn {
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 0;
    border-left: 1px solid #dadada;
    background: #fff;
    color: #222
}

.js .accordian-skin .accordian-btn:hover span {
    text-decoration: underline;
    -webkit-text-decoration-skip: skip;
    text-decoration-skip: ink
}

.js .active .accordian-skin .accordian-btn:hover span {
    text-decoration: none
}

.js .accordian-skin .accordian-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgMTIgNyI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTkuNiAwbC0zLjYgNC4zLTMuNi00LjNoLTIuNGw2IDcgNi03aC0yLjR6Ii8+PC9zdmc+), none;
    background-size: 12px auto
}

.js .tab-skin .tab-icon, .js .active .accordian-skin .accordian-icon {
    padding: 0;
    background: none
}

.js-header-container2 .menu-button-icon:after {
    width: 20px;
    height: 24px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHRpdGxlPmNoZXZyb24tbW9yZTwvdGl0bGU+PGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+PGRlZnM+PHBhdGggZD0iTTEyLjU4NiAxM2wtMy4yOTMtMy4yOTNjLS4zOTEtLjM5MS0uMzkxLTEuMDI0IDAtMS40MTQuMzkxLS4zOTEgMS4wMjQtLjM5MSAxLjQxNCAwbDQgNGMuMzkxLjM5MS4zOTEgMS4wMjQgMCAxLjQxNGwtNCA0Yy0uMzkxLjM5MS0xLjAyNC4zOTEtMS40MTQgMC0uMzkxLS4zOTEtLjM5MS0xLjAyNCAwLTEuNDE0bDMuMjkzLTMuMjkzeiIgaWQ9ImEiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSI+PG1hc2s+PHVzZSB4bGluazpocmVmPSIjYSIvPjwvbWFzaz48dXNlIGZpbGw9IiMyMjIiIHRyYW5zZm9ybT0icm90YXRlKC0yNzAgMTIgMTMpIiB4bGluazpocmVmPSIjYSIvPjwvZz48L3N2Zz4=), none;
    background-size: auto
}

.js-header-container2 .menu-button-icon {
    padding-right: 15px
}

.js .menu {
    position: absolute;
    overflow-y: auto;
    left: 0;
    right: 0;
    top: -500px;
    opacity: 0;
    margin: 0
}

.js .sticky-header ~ .menu {
    position: fixed
}

.js .menu-open {
    opacity: 1
}

.js-image {
    width: 33%
}

.js-return-btn:focus {
    width: auto;
    height: auto;
    position: static !important;
    clip: auto
}

.filter-accordion .js-hide {
    display: none
}

.access-options-list li, .js .access-options-list li {
    float: left;
    width: 100%
}

.js .access-options-list .access-option-readcube {
    display: none
}

.js-hide-alternate {
    display: none
}

.js-single-hide-alternate {
    display: none
}

.inline-list.js-list-authors > li {
    padding-right: 0
}

.rc-highlighter, .highlighter :target:not(.js-section-title) {
    -webkit-animation: highlight 2s ease;
    animation: highlight 2s ease
}

.js-header-container2 {
    background: #fff
}

.js-header-container2 .menu-button {
    margin: 12px 20px 10px 0;
    top: 0;
    text-transform: none
}

.js-header-container2 .sticky-header .menu-button {
    margin-top: 7px
}

.js-header-container2 .menu-button {
    float: left;
    margin: 5px 10px 0 0
}

.js-header-container2 .header-submit-button {
    margin-top: 5px
}

.js-header-container2 .header-logo-primary {
    display: none;
    visibility: hidden
}

.js-header-container2 .header-logo-secondary {
    display: inline;
    visibility: visible
}

.js-header2 {
    height: 39px
}

.js-header-container2 .menu-button {
    margin-top: 7px
}
